<div style="margin: 10px auto;padding:15px;">
  <br />"Monitoring & Quality Assurance",<br />
  A software company that drives the digital transformation of the building and construction. This entity has a purpose
  to monitoring fixing and prevent any defect product.<br/>
</div>
<div style="margin: 20px auto;text-align: center;">
  <h6 lyTyp="title">
      MONIQA is a product of<br/><br/>
    <a href="https://www.acset.co/" class="nav-link">
      <img src="assets/img/logo-white.png" alt="" title="acst-logo" style="height:35px;">
    </a>
  </h6>
</div>