<div [className]="classes.item">
  <ly-card>
    <ly-card-content style="max-width:550px;height: 150px;">
      <h2 lyTyp="title" gutterBottom>{{title}}</h2>
      <content-loader *ngIf="!data" height="300" width="400" primaryColor="#eaeaea" secondaryColor="#d1d1d1">
        <svg:rect x="8" y="25" rx="2" ry="2" width="100%" height="200" />
      </content-loader>
      <ngx-charts-bar-vertical-2d *ngIf="data" [scheme]="colorScheme" [results]="data" [xAxis]="showXAxis"
        [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [showDataLabel]="true" legendPosition="right"
        [roundDomains]="true" [roundEdges]="false" (select)="onSelect($event)" legendTitle="Legend" barPadding="0"
        groupPadding="5">
      </ngx-charts-bar-vertical-2d>
    </ly-card-content>
  </ly-card>
</div>